# Rust build artifacts
target/

# TS/JS build artifacts
node_modules/
dist/

# Generated bindings
generated/
rust_modules/

# test report artifacts
test-results/
test-dist/
 
# mdBook build output
docs/book/